* {
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}
body {
  padding: 0.5rem;
  font-family: "Gafata", sans-serif;
  font-family: "Inter", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: end;
  margin-right: 3rem;
  background-color: rgba(255, 255, 255, 0.164);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 99999;
}
nav a {
  margin: 1rem;
  font-size: 1.2rem;
  z-index: 2;
}
nav a:hover {
  opacity: 0.5;
}
.Rio {
  z-index: 99999999;
  left: 0;
}
.judul {
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  font-weight: 300;
  margin-left: 2rem;
  line-height: 0.8;
}
.Hiro {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80vh;
}
.img1 {
  max-height: 300px;
  margin-right: 2rem;
}
.img2 {
  max-width: 600px;
}

.button1 {
  margin-left: 2rem;
  color: black;
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border-width: 1.5px;
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

.button1:hover {
  background-color: rgb(231, 231, 231);
}
